<div class="row-fluid">
  <div class="span12">
    <h1>About Us</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <div class="article">
      <br/>

      <h3>About Our Organization</h3>

      <p>Cherished Tails is a 501(c)3 nonprofit organization devoted to the rescue, rehabilitation, and placement of senior dogs and cats. We rescue senior dogs and cats, epecially those who need medical care and a home to live out their "golden years," from the community and shelters. We have a combination of adoptable animals, as well as those who will live out the remainder of their lives receiving love, dignity, and care with our wonderful foster families.
      </p>

      <p>Our organization is a dedicated group of animal lovers who have a special place in their hearts for senior pets. We either provide a temporary placement in foster homes until they recieved all the medical care needed to become adoptable. Or we provide a permananent home for senior pets for the remainder of their lives for long-term care. 
      </p>

      <p> Our primary goal is to find a permanent loving and compassionate homes for senior pets while they are still experiencing quality of life.</p>

      <p>Cherished Tails does not operate a shelter or have a physical location. We rely on foster families who open their homes to give love and care to senior dogs and cats. In foster care, we learn about the personalities and behaviors of all the animals in rescue. These senior pets have been through a lot, and it  may take days or weeks to allow their personality to completely unfold.  We strive to provide as many details as possible to potential and future adopters, which increases the likelihood of a good match for each dog and family.</p>

      <h3>About Our Adoptions</h3>

      <p>Our organization provides pet adoption services to families located in Virginia, Washington DC, Maryland, Southern Pennsylvania and neighboring states.  We believe in responsible adoptions and strive to work with each adopter to find a good match for their home and lifestyle.  Our adoption process includes completion of an application, a review of reference checks, vet checks, an interview and a personal “meet and greet” where the family can meet and interact with their potential new four-legged family member.  Throughout this process, we work to ensure each family and dog are the right fit for each other.</p>

      <p>​​​​​We have seniors who will live out their lives in the rescue as "forever fosters" or hospice fosters due to their medical needs or advanced age. The live in homes and are loved as our own and the rescue ensures that they receive all the care that they need for the remainder of their lives. Currently about 75% of the animals in the rescue fall into this category which can be a challenge because for some conditions vet costs can be high....BUT they all deserve the chance to live out their lives pain free and happy and we provide this second chance.</p>

      <h3>About our Funding</h3>

      <p>Cherished Tails Senior Sanctuary is 100% donor funded. We receive no funding from federal, state, or county governments. As a result, we rely on the generous donations from our supporters and the adoption fees for each dog in order to save the dogs in need that join our rescue organization.</p>
    </div>
      
</div>
