<div class="row-fluid">
  <div class="span12">
    <h1>About Us</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <div class="article">
      <br/>

      <h3>About Our Organization</h3>

      <p>Cherished Tails is a 501(c)3 nonprofit organization devoted to the rescue, rehabilitation, and placement of senior dogs and cats. We rescue senior dogs and cats, epecially those who need medical care and a home to live out their "golden years," from the community and shelters. We have a combination of adoptable animals, as well as those who will live out the remainder of their lives receiving love, dignity, and care with our wonderful foster families.
      </p>

      <p>Our organization is a dedicated group of animal lovers who have a special place in their hearts for senior pets. We either provide a temporary placement in foster homes until they recieved all the medical care needed to become adoptable. Or we provide a permananent home for senior pets for the remainder of their lives for long-term care. 
      </p>

      <p> Our primary goal is to find a permanent loving and compassionate homes for senior pets while they are still experiencing quality of life.</p>

      <p>Cherished Tails does not operate a shelter or have a physical location. We rely on foster families who open their homes to give love and care to senior dogs and cats. In foster care, we learn about the personalities and behaviors of all the animals in rescue. These senior pets have been through a lot, and it  may take days or weeks to allow their personality to completely unfold.  We strive to provide as many details as possible to potential and future adopters, which increases the likelihood of a good match for each dog and family.</p>

      <h3>About Our Adoptions</h3>

      <p>Our organization provides pet adoption services to families located in Virginia, Washington DC, Maryland, Southern Pennsylvania and neighboring states.  We believe in responsible adoptions and strive to work with each adopter to find a good match for their home and lifestyle.  Our adoption process includes completion of an application, a review of reference checks, vet checks, an interview and a personal “meet and greet” where the family can meet and interact with their potential new four-legged family member.  Throughout this process, we work to ensure each family and dog are the right fit for each other.</p>

      <p>We are fortunate to have some wonderful and active volunteers who help OPH find forever homes for over 1,000 dogs a year.  The key to that statement is - volunteer!  Please remember that our organization is driven by caring individuals who give their personal time to help rescue these dogs and provide them with the opportunity to find an amazing future!  In addition to adoptions, volunteers carry out education and outreach events throughout the area, and conduct donation drives for our partner shelters in the south.</p>

      <p>Our goal is to offer a second chance to dogs  abandoned in shelters and out of time. Sadly, without our help, all of these adoptable animals would face almost certain euthanasia - usually within days or hours of arriving at the shelter. Each year we rescue hundreds of wonderful dogs.    We work hard to unite them with forever families who will give them the life and love they deserve. These dogs are saved only because of the dedication  of our incredible adopters, fosters, donors, and volunteers.</p>

      <h3>About our Funding</h3>

      <p>OPH is 100% donor funded. We receive no funding from federal, state, or county governments. As a result, we rely on the generous donations from our supporters and the adoption fees for each dog in order to save the dogs in need that join our rescue organization.  In addition, we have a hard working Grant Team who reaches out to organizations who provide grants for rescue animals.  Without these vital funds, we could not continue our mission to make a positive difference in the lives of the dogs - and the people - who we save.  Together We Rescue.</p>
    </div>
      
</div>
