<div class="row-fluid">
  <div class="span12">
    <h1>Contact Us</h1>

    <div class="span8">

      <p><strong>General Information:</strong> <a href="mailto:cherishedtails@yahoo.com">cherishedtails@yahoo.com</a></p>
      <p><strong>Main Line</strong> <span class="tel value">520-616-0171</span></p>
      
      <br />

      <address>
      <strong>Cherished Tails Senior Sanctuary</strong><br />
      P.O. Box 631 <br />
      Marana, AZ 85653<br />


      </address>

      <h3>Fostering</h3>

      <p>Please visit our <a href="/foster">foster information page</a> and complete an application.  Once completed, our Foster Coordinator will reach out to talk about saving a life!</p>


      <h3>Volunteering</h3>
      <p>Cherished Tails depends on volunteers who .  We have several wonderful volunteer opportunities and would love help!  Please visit our <a href="/volunteer">volunteer page</a>. </p>

      <h3>Donations and Financial Contributions</h3>

      <p>Please see our <a href="/donate">Donation</a> page.</p>

      <h3>Long-Term Foster Questions</h3>

      <h3>Stay Connected with Cherished Tails</h3>

      <p>We enjoy hearing from our adopters and supporters, so please join us via social media.</p>

      <ul>
        <li><a href="https://www.facebook.com/cherishedtails">Facebook</a></li>
        <li><a href="https://twitter.com/cherishedtails">Twitter</a></li>
        <li><a href="http://instagram.com/cherished_tails_ss">Instagram</a></li>
      </ul>

    </div>

  </div>
</div>
